body {
	margin: 0;
	font-family: Inter, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: #003161;
}

* {
	font-family: Inter, sans-serif;
}

.wrapper {
	border-radius: 20px;
	background: #fff;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
	max-width: 1080px;
	margin: 50px auto;
	height: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 40px;
	border-bottom: 1px solid #eaeaea;
}

.headerLeft {
	display: flex;
	align-items: center;
	cursor: pointer;
	img {
		padding-right: 10px;
	}
	h3 {
		margin: 0;
		text-transform: uppercase;
		color: #000;
		font-size: 16px;
		font-weight: 700;
	}
	p {
		margin: 0;
		color: #9d9d9d;
		font-size: 14px;
		font-weight: 400;
	}
}

.headerRight {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.oneLi {
		padding-right: 30px;
		display: flex;
		align-items: center;
		cursor: pointer;
		img {
			width: 18px;
			height: 18px;
			cursor: pointer;
		}
		span {
			padding-left: 10px;
			color: #5c5c5c;
			font-size: 14px;
			font-weight: 600;
		}
	}
	.twoLi {
		img {
			cursor: pointer;
		}
	}
}
.content {
	padding: 40px;
	h1 {
		margin: 0;
		padding-bottom: 40px;
	}
}
.vitamins {
	display: flex;
	flex-wrap: wrap;
}
.card {
	width: 210px;
	height: 310px;
	padding: 29px;
	padding-top: 18px;
	border-radius: 40px;
	margin: 0 40px 40px 0;
	border: 1px solid #f3f3f3;
	position: relative;
	transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
	.cardImage {
		width: 134px;
		height: 143px;
	}

	&:hover {
		box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
		transform: translateY(-5px);
	}

	img {
		object-fit: cover;
	}
	h5 {
		width: 150px;
		color: #000;
		font-size: 14px;
		font-weight: 400;
		margin: 0;
		margin-top: 5px;
	}
}

.cardPrice {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 30px;
	bottom: 30px;

	.price {
		display: flex;
		flex-direction: column;
		margin-right: 50px;
		span {
			color: #bdbdbd;
			font-size: 11px;
			font-weight: 500;
			text-transform: uppercase;
		}
		b {
			color: #000;
			font-size: 14px;
			font-weight: 700;
		}
	}
}

.button {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.searchBlock {
position: relative;
	min-width: 250px;
	border-radius: 10px;
	border: 1px solid #f3f3f3;
	padding: 13px;
	font-size: 14px;
	color: #c4c4c4;
	max-height: 45px;
	align-items: center;
	input {
		border: none;
		margin-left: 14px;
	}
}

.contentHeader {
	display: flex;
	justify-content: space-between;
}

.favorit {
	position: absolute;
	cursor: pointer;
	left: 15px;
}

.overlay {
	position: absolute;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.drawer {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 385px;
	height: 100%;
	right: 0;
	background: #fff;
	box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.1);
	z-index: 2;

	padding: 30px;
	h2 {
		height: 10px;
		margin: 0;
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 20px;
	}
}
.items {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: auto;
	margin-bottom: 40px;
}

.cartItem {
	max-height: 120px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 20px;
	border-radius: 20px;
	border: 1px solid #f3f3f3;
	margin-top: 20px;

	img {
		object-fit: cover;
	}
	p {
		margin: 0;
		font-size: 14px;
		width: 165px;
	}
	b {
		font-size: 14px;
	}
	.cardContent {
		margin-right: 12px;
	}
	.cardBtn {
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
}

.cartTotalBlock {
	flex: 0;
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		div {
			flex: 1;
			height: 1px;
			position: relative;
			border: 1px dashed #dfdfdf;
			margin: 0 7px;
			top: 5px;
		}
	}
}
.cartBtn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	background: #9dd458;
	min-width: 325px;
	min-height: 55px;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:hover {
		transform: scale(1.02);
		background: #90c54e;
	}

	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	img {
		position: absolute;
		top: 22px;
		right: 35px;
	}
}

.cartTitle {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	img {
		cursor: pointer;
		opacity: 0.5;
		transition: all 0.2s ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
}

.searchClose {
	position: absolute;
	right: 10px;
	cursor: pointer;
}